<div class="mx-auto max-w-screen-md px-6">
<h2 class="text-xl mt-16 mb-6 text-slate-600">Posts by tag</h2>
<div class="flex flex-wrap gap-6 mb-6 flex-col md:flex-row">
{{range $name, $taxonomy := .Site.Taxonomies.tags}}
{{ $count := .Count }}
{{ with $.Site.GetPage (printf "/tags/%s" $name) }}
<article class="relative rounded-md bg-slate-300 px-4 py-2">
    <h1 class="text-xl">{{ .Title }}</h1>
    <p class="text-slate-600">{{ $count }} posts</p>
    <a href="{{ .RelPermalink }}" class="absolute inset-0"><span class="hidden">Continue reading</span></a>
</article>
{{ end }}
{{ end }}
</div>
</div>