<div class="mx-auto max-w-prose px-6">
{{ with .Param "tags" }}
<h2 class="text-xl mt-16 mb-6 text-slate-600">Post tags</h2>
<div class="flex flex-wrap gap-3 mb-6 flex-col md:flex-row">
{{ range $tag := . }}
{{ with $.Site.GetPage (printf "/tags/%s" ( $tag | urlize )) }}
<article class="relative rounded-md bg-slate-300 px-4 py-2">
    <h1 class="text-md">{{ .Title }}</h1>
    <p class="text-sm text-slate-600">{{ .Pages.Len }} posts</p>
    <a href="{{ .Permalink }}" class="absolute inset-0"><span class="hidden">Continue reading</span></a>
</article>
{{ end }}
{{ end }}
</div>
{{ end }}
</div>
